<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= link_to course.url, course.url, target: "_blank" %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= course.category.name %>
  </p>
   <p>
    <strong>Body</strong>
    <%= course.body %>
  </p>

</div>
