<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<div class = "row">
  <% @courses.each do |course| %>
    <div class = "col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <span class="category-text"> <%= course.category.name %></span><br>
      <strong><%= link_to course.name, course.url %></strong>
      <br />
      <%= course.body.truncate_words(4) %>
      <p>
       <em><%= link_to "Show this course", course %></em>
        
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New course", new_course_path, class: "btn btn-primary" if current_user%>
