<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <%= link_to "Funzana", root_path, class: "navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
         
          <%= link_to "Courses", courses_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
         
          <%= link_to "Categories", categories_path, class: "nav-link" %>
        </li>
       
      </ul>
    </div>
    
  </div>
  
</nav>

<!-- Menu for logged in user -->
<div class="row">
  <div class="col-md-9 col-sm-12"></div>
  <div class="col-md-3 col-sm-12">
    <p class="navbar-text ms-auto">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-link"  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </p>
  </div>
</div>
<!-- End of Logged in user menu -->